#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 html{
    background-image: linear-gradient(128deg, #40afff, #3f61ff);
    background-repeat: no-repeat;
    
  }

  body{
    height: 100vh;
  }

  .header, .scores{
    text-align: center;
  }